body { background: #c589f6; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 48px; display: flex; }
.block-config-0 { color: #cba9e; font-size: 16px; margin-bottom: 5px; }
.block-metrics-1 { color: #25eedb; font-size: 16px; margin-bottom: 5px; }
.block-product-2 { color: #ec502c; font-size: 12px; margin-bottom: 5px; }
.block-uploader-3 { color: #b2df44; font-size: 12px; margin-bottom: 5px; }
.block-logger-4 { color: #570c82; font-size: 21px; margin-bottom: 5px; }